<section class="section col-1">
  <div class="box-video">
    <video
      slot="background"
      class="video"
      autoplay
      muted
      loop
      src="assets/videos/video-principal.webm"
    ></video>
  </div>
  <div class="content-info-primary">
    <div class="content-title">
      <h1 class="title title-animation">Experience Tesla</h1>
      <p class="description text">Schedule a Demo Drive Today</p>
    </div>
    <div class="content-btn-1">
      <a class="btn-primary" href="/">Demo Drive</a>
    </div>
  </div>
</section>
