<section class="section col-1">
  <div class="box-video">
  <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD" alt="Red Model 3 parked on weathered concrete in front of a cityscape" class="img-p">
  </div>
  <div class="content-info-primary">
    <div class="content-title">
      <h1 class="title">Model 3</h1>
      <p class="description">Starting at $32,740</p>
      <p class="description">After Federal Tax Credit </p>
    </div>
    <div class="content-btn-2">
      <a class="btn-2" href="/">Explore Inventory</a>
      <a class="btn-3" href="/">Custom Order</a>
    </div>
    <p style="position: absolute; bottom: 30px; font-size: 12px;">3 months free Supercharging when you take delivery of a new Inventory vehicle by June 30. </p>
  </div>
</section>
