<section class="section col-1">
  <div class="box-video">
    <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop" srcset="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop" alt="Metallic blue Model Y driving down a hillside highway" class="img-p">
  </div>
  <div class="content-info-primary">
    <div class="content-title">
      <h1 class="title">Model Y</h1>
      <p class="description">Starting at $40,240</p>
      <p class="description">After Federal Tax Credit</p>
    </div>
    <div class="content-btn-2">
      <a class="btn-2" href="/">Explore Inventory</a>
      <a class="btn-3" href="/">Custom Order</a>
    </div>
  </div>
</section>
