<section class="section col-1">
  <div class="box-video">
    <video
      class="tcl-asset tcl-video__asset lozad tcl-objectfit-position tcl-objectfit-position--center visible-no-fade-in"
      preload="auto"
      playsinline=""
      data-autoplay-desktop="true"
      data-autoplay-portrait="true"
      data-autoplay-mobile="true"
      data-play-on-hover="false"
      muted=""
      loop=""
      data-src-mobile="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Test_Drive-NA-Mobile.mp4"
      data-src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Test_Drive-NA-Desktop.mp4"
      data-object-fit="true"
      src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Test_Drive-NA-Desktop.mp4"
      data-loaded="true"
      autoplay=""
    ></video>
  </div>
  <div class="content-info-primary">
    <div class="content-title">
      <h1 class="title">Experience Tesla</h1>
      <p>Schedule a Demo Drive Today</p>
    </div>
    <div class="content-btn-1">
      <a href="/">Demo Drive</a>
    </div>
  </div>
</section>
