<section class="section col-1">
  <div class="box-video">
    <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop" srcset="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop" alt="Solid black Model S accelerating on an elevated highway	" class="img-p">
  </div>
  <div class="content-info-primary">
    <div class="content-title">
      <h1 class="title">Modle S</h1>
      <a href="/" class="description">Explore Inventory</a>
    </div>
    <div class="content-btn-2">
      <a class="btn-2" href="/">Custom Order</a>
      <a class="btn-3" href="/">Demo Drive</a>
    </div>
  </div>
</section>
