<header class="header">
  <div class="box-header">
    <nav class="navbar">
      <h1>Tesla</h1>
    </nav>
  </div>
  <div class="box-header">
    <nav class="navbar navbar-center">
      <ul>
        <li class="links">Model s</li>
        <li class="links">Model 3</li>
        <li class="links">Model X</li>
        <li class="links">Model Y</li>
        <li class="links">Solar Roof</li>
        <li class="links">Solar Panels</li>
        <li class="links">Powerwall</li>
      </ul>
    </nav>
  </div>
  <div class="box-header">
    <nav class="navbar">
      <ul>
        <li class="links">Shop</li>
        <li class="links">Account</li>
        <li class="links">Menu</li>
      </ul>
    </nav>
  </div>
</header>