<footer id="footer" class="content-section">
  <div class="content-a">
    <a href="">Tesla @ 2023</a>
    <a href="">Privacy & Legal</a>
    <a href="">Vehicle Recalls</a>
    <a href="">Contact</a>
    <a href="">News</a><a href="">Get Updates</a>
    <a href="">Locations</a>
  </div>
</footer>
