<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/assets/img/tesla logo.ico" type="image/vnd.microsoft.icon">
    <title>Electric Cars, Solar & Clean Energy | Tesla</title>
</head>
<body>